body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9EBAEE;
    color: #000000;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:6vh;
    margin: 5vh;
}

.left{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height:700px;
    margin-top: 5vh;
}

button{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    border-radius: 2vh;
    width:20vh;
    background-color: #F2EFE9;
}

h1{
    font-size: 7vh;
    font-weight: 900;
    margin-left: 3vh;
    margin-bottom: 10vh;
}

#options{
    align-items: start;
    display:flex;
    flex-direction: column;
    gap:3vh;
    margin-left: 3vh;
}

#infopopup{
    color: #ffffff;
    display:none;
    position:absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    overflow-y: auto;
    max-height: 600px;
    top: 10vh;
    width: 110vh;
    padding-right: 7vh;
    left: 65vh;
    padding-left: 7vh;
    scroll-behavior: smooth;
}

.right{
    margin-left: 10vh;
}

canvas{
    border: 0.5vh solid rgb(101, 101, 101);
}

a{
    margin-left: 10vh;
    color:aliceblue;
}

#controlspopup{
    color: #ffffff;
    display:none;
    position:absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    overflow-y: auto;
    max-height: 600px;
    top: 10vh;
    width: 110vh;
    padding-right: 7vh;
    left: 65vh;
    padding-left: 7vh;
    scroll-behavior: smooth;
}

button:active {
    box-shadow: none;
    position: relative;
    top: 4px;
    left: 4px;
} 

button {
    background: linear-gradient(to right, #ffffff 50%, #000000 50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 0px #000000;
    transition: box-shadow 0.1s ease, top 0.1s ease, left 0.1s ease, background-position 0.5s ease, color 0.5s ease;
    outline: none;
    position: relative;
    background-size: 200% 100%;
    background-position: left bottom;
}

button:hover {
    color: aliceblue;
    background-position: right bottom;
}